<div class="my-container">

  <div class="space">
  </div>

  <mat-card class="example-card">

    <div class="logo">
      <!-- <img src="assets/images/logo.png"> -->
      <i class="material-icons">all_inclusive</i>
    </div>

    <div class="title">
      <a class="text">Login to your Account</a>
    </div>

    <br>

    <form class="example-form" (submit)="login()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" type="email" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" required>
      </mat-form-field>

      <mat-checkbox class="checkbox">Remember Me</mat-checkbox>

      <div class="forgot">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>

      <br>
      <br>
      <br>
      <br>

      <div class="button-login">
        <button mat-raised-button class="login" type="submit">Login</button>
      </div>
    </form>
    <!-- 
<div class="seprator">
    <span class="text">
          OR
      </span>
  </div>

  <div class="button-social">
    <button mat-raised-button color="warn" class="social">
        Log in with Google
  </button>
  </div>

  <div class="button-social">
    <button mat-raised-button color="primary" class="social">
            Log in with Facebook
      </button>
  </div> -->

    <br>

    <div class="register" style="box-sizing: border-box; display: flex; flex-direction: column; max-width: 100%; align-items: center;">
      <span class="text">Don't have an account?</span>
      <a class="link" routerLink="/register">Create an account</a>
    </div>


  </mat-card>

  <div class="space">
  </div>

</div>