<app-toolbar></app-toolbar>
<br>

<table>
    <tr>
        <td>
            <span class="welcome">
                <p class="text">Want to see login page demo ...</p>
            </span>
        </td>
        <td>
            <button mat-raised-button routerLink="/login">
                Click here
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <span class="welcome">
                <p class="text">Want to see Register page demo ...</p>
            </span>
        </td>
        <td>
            <button mat-raised-button routerLink="/register">
                Click here
            </button>
        </td>
    </tr>
    <tr>
        <td>
            <span class="welcome">
                <p class="text">Want to see Home page demo ...</p>
            </span>
        </td>
        <td>
            <button mat-raised-button routerLink="/home">
                Click here
            </button>
        </td>
    </tr>
</table>