.example-form  {
    width: 300px;
    min-width: 150px;
    max-width: 500px;
    background:#FFFFFF;
    padding:2.5em;
    left:50%;
    margin-left:-190px;
    padding-top: 10px;
    position: fixed;
  }

  .example-card {
    width: 300px;
    background:#FFFFFF;
    padding:2.5em;
    left:50%;
    margin-left:-190px;
    padding-top: 50px;
    position: fixed;
    align-content: center;
  }

  .logo {
      text-align: center;
      padding-bottom: 30px;
  }

  .material-icons {
    font-size: 100px;
    color: rgb(29, 168, 192);
    text-shadow: 2px 1px 5px #000000;
  }

  .space {
      padding: 20px;
  }

  .space2 {
      padding: 80px;
  }

  .space3 {
      padding: 300px;
  }
  
.example-full-width {
    width: 100%;
  }

  .login {
      align-items: center;
      width: 70%;
  }

  .seprator {
    font-size: 15px;
    font-weight: 600;
    margin: 24px auto;
    position: relative;
    overflow: hidden;
    width: 100px;
    color: rgba(0,0,0,.54);
    display: block;
    text-align: center;
    /* padding: 10px; */
  }

  .social {
    width: 60%;
    text-align: center;
  }

  .button-login {
      text-align: center;
      color: #000000;
  }

  .checkbox {
      font-size: 14px;
      float: left;
  }

  .button-social {
    padding-bottom: 10px;
    text-align: center;
  }

  .title {
      font-size: 24px;
      text-align: center;
      text-transform: uppercase;
  }

.my-container {
    background-color: rgb(98, 192, 192);
 }
