<div class="my-container">
    
    <div class="space">
    </div>
    
    <mat-card class="example-card">
    
      <div class="logo">
        <!-- <img src="assets/images/logo.png"> -->
        <i class="material-icons">all_inclusive</i>
      </div>
    
      <div class="title">
        <a class="text">Login to your Account</a>
      </div>
    
      <br>
    
      <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" type="email" required>
      </mat-form-field>
      
      <br>
      <br>
    
      <div class="button-login">
        <button mat-raised-button class="login">Send Reset Link</button>
      </div>
      </form>
    
      <div class="space2">
        </div>
    
    </mat-card>
    
    <div class="space3">
      </div>
    
    </div>