@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
}

i {
    padding-inline-end: 10px;
}