.small {
    width: 40%;
}
.left {
    float: left;
    padding-left: 5%;
}
.fix {
    clear: both;
}
.right {
    float: right;
    padding-right: 5%;
}
.center {
    text-align: center;
}
.space {
    height: 50px;
}
h2 {
    font-family: roboto;
    font-weight: 600;
    text-align: center;
}