<app-toolbar></app-toolbar>

<br>
<h2>Month wise attendence & Mid-day meal</h2>
<br>
<br>
<div class="col-md-6" class="small left">
  <canvas baseChart
              [data]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="col-md-6" class="small right">
  <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="fix space">

</div>

<div class="fix center">
  <button mat-raised-button (click)="randomizeType()">Toggle</button>
</div>
