<div class="my-container">
    
    <div class="space">
    </div>
    
    <mat-card class="example-card">
    
      <div class="logo">
        <!-- <img src="assets/images/logo.png"> -->
        <i class="material-icons">all_inclusive</i>
      </div>
    
      <div class="title">
        <a class="text">Create an Account</a>
      </div>
    
      <br>
    
      <form class="example-form">

          <mat-form-field class="example-full-width">
              <input matInput id="name" placeholder="Name" type="text" required>
            </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput id="email" placeholder="Email" type="email" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput id="password" placeholder="Password" type="password" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput id="password" placeholder="Confirm Password" type="password" required>
        </mat-form-field>
    
      <mat-checkbox class="checkbox">I read and accept </mat-checkbox>
    
      <div class="term">
          <a routerLink="/term">terms and condition</a>
      </div>
    
      <br>
      <br>
      <br>
      <br>
    
      <div class="button-login">
        <button mat-raised-button class="login" type="submit">Create an account</button>
      </div>
      </form>
  
      <br>
    
      <div class="register" style="box-sizing: border-box; display: flex; flex-direction: column; max-width: 100%; place-content: center; align-items: center;">
          <span class="text">Already have an account?</span>
          <a class="link" routerLink="/login">Login</a>
      </div>
    
    
    </mat-card>
    
    <div class="space">
      </div>
    
    </div>